@import "./reset.css";
@import "./variables.css";

html {
  font-size: 62.5%;
}

body,
button,
input {
  font-family: "Ubuntu", sans-serif;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 1s linear;
}

/* .hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
} */
