:root {
  --Marine-blue: hsl(213, 96%, 18%); /* #02295a */
  --Purplish-blue: hsl(243, 100%, 62%); /* #473dff */
  --Pastel-blue: hsl(228, 100%, 84%); /* #adbeff */
  --Light-blue: hsl(206, 94%, 87%); /* #bfe2fd */
  --Strawberry-red: hsl(354, 84%, 57%); /* #ed3548 */

  /* ### Neutral */

  --Cool-gray: hsl(231, 11%, 63%); /* #9699ab */
  --Light-gray: hsl(229, 24%, 87%); /* #d6d9e6 */
  --Magnolia: hsl(217, 100%, 97%); /* #f0f6ff */
  --Alabaster: hsl(231, 100%, 99%); /* #fafbff */
  --White: hsl(0, 0%, 100%); /* #ffffff */
  --BG-main: #f2f2f2;
  --Purple-main: #483eff;

  /* Size */

  --DesktopWidth: 1440px;
  --MobileWidth: 375px;
}
